body {
    margin: 0;
    color: black;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 3.3rem;
}

h2 {
    font-weight: 600;
    font-size: 2.5rem;
}

h3 {
    margin: 0 !important;
    font-weight: 700;
    font-size: 2rem;
}

h4 {
    margin: 0 !important;
    font-weight: 600;
    font-size: 1.375rem;
}

h5 {
    margin: 0;
    font-weight: 600;
    font-size: 1.125rem;
}

p {
    margin: 0;
    color: #212121;
    font-family: 'Roboto', sans-serif;

    &.__footer {
        color: #636262;
        font-size: 0.875em;
    }
}

hr {
    margin: 0 !important;
}


.btn {
    border-radius: 4px;
    padding: 0.65em 1.85em;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
}

.grn {
    background: #A7CA37;
    color: white;

    &:hover {
        background: #7fa013;
        color: white;
    }
}

.wht {
    background: white;
    color: black;
    border: solid 1px #9D9D9D;

    &:hover {
        border: solid 1px #9D9D9D;
        color: black;
        background: #d1d1d1;
    }
}

.ico {
    padding: 0 !important;
    border: none !important;

    &::before {
        content: url(images/icons/plus.png);
    }


    &.collapsed {
        &::before {
            content: url(images/icons/plus.png);
        }
    }

    &.exp {
        &::before {
            content: url(images/icons/minus.png);
        }
    }
}

.col {
    padding: 0 !important;
}

.nav-divider {
    border-color: black;
}

.form-control {
    border-radius: 6px;
}

.hiw__list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 30em;
}

.hiw__number__outer {
    border: 1px solid black;
    border-radius: 0.375em;
    padding: 0.375em
}

.hiw__number__inner {
    background: black;
    border-radius: 0.375em
    color: white;
    height: 2.75em;
    width: 2.75em;
}

.hiw__samples {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    padding: 2em 0;

    img {
        border-radius: 6px;
        width: auto;
        height: 100%;
        object-fit: contain;
    }
}

.nav-link {
    margin: 0;
    padding: 0.3em 0 !important;
    font-family: 'Roboto', sans-serif;
}

.navbar-wrap {
    justify-content: center;


    @media only screen and (max-width: 992px) {
        justify-content: flex-start;
    }

    .inner {
        flex-grow: 1;
        justify-content: center;
        gap: 2.5rem;
        padding: 0 1.5rem 0 3rem;

        @media only screen and (max-width: 992px) {
            justify-content: flex-start;
            gap: 0.6rem;
            padding: 0 2rem;
        }
    }

}

.p-reg {
    padding: 0 8.275rem;

    @media only screen and (max-width: 1400px) {
        padding: 0 4.275rem;
    }

    @media only screen and (max-width: 992px) {
        padding: 0 2.5rem;
    }
}

.p-clpse {
    width: 60em;

    @media only screen and (max-width: 1400px) {
        width: 54em;
    }

    @media only screen and (max-width: 992px) {
        width: 50em;
    }
}

.p-img {
    padding-left: 8.275rem;

    @media only screen and (max-width: 1400px) {
        padding-left: 4.275rem;
    }

    @media only screen and (max-width: 992px) {
        padding-left: 2.5rem;
    }

    @media only screen and (max-width: 576px) {
        padding: 0 2.5rem;
    }
}

.p-img-invert {
    padding-right: 8.275rem;
    justify-content: end;

    @media only screen and (max-width: 1400px) {
        padding-right: 4.275rem;
    }

    @media only screen and (max-width: 992px) {
        padding-right: 2.5rem;
    }

    @media only screen and (max-width: 576px) {
        padding: 0 2.5rem;
    }
}

.p-header {
    padding: 1.4em 8.275rem;


    @media only screen and (max-width: 1400px) {
        padding: 1.4em 4.275rem;
    }

    @media only screen and (max-width: 992px) {
        padding: 1.2em 2.5rem;
    }

    @media only screen and (max-width: 768px) {
        padding: 0.7em 2.5rem;
    }
}

.sbab {
    display: flex;
    flex-grow: 1;
    border: 1px solid #B2B2B2;
    border-radius: 0.75em;
    background-color: #F1F1F1;
    padding: 5em 4em;
}

.wre__card {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 2.5rem;
    border-radius: 0.5em;
    width: 270px;
    height: 300px;
    overflow: hidden;

    p {
        color: white !important;
    }

    .bar{
        display: flex;
        flex-grow: 1;
        background-color: white; 
        height: 6px; 
        border-radius: 4px;

        .percent {
            display: flex;
            background-color: #A7CA37; 
            border-radius: inherit;
        }
    }

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: auto;
        overflow: hidden;
        transition: 120ms;
        transition-timing-function: ease-in-and-out;

        &:hover {
            transition-timing-function: ease-out;
            transition: 225ms;
            scale: 110%;
        }

        &::after {
            content:'';
            position:absolute;
            left:0; top:0;
            width:100%; height:100%;
            display:inline-block;
            background: linear-gradient(to bottom, transparent 0%, black 120%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
          }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .chip {
        position: absolute;
        top: 1rem;
        right: 1rem;
        border-radius: 6px;
        background-color: white;
        padding: 0.33em 0.8em;
        font-weight: 500;
        font-size: 0.75em;

        &::before {
            content: "New";
        }
    }
}

.w-text-sm {
    flex-shrink: 0;
    width: 30em;

    @media only screen and (max-width: 1400px) {
        width: 24rem;
    }

    @media only screen and (max-width: 992px) {
        width: 20rem;
    }

    @media only screen and (max-width: 576px) {
        width: 100%;
    }
}

.w-text-lg {
    flex-shrink: 0;
    width: 38em;

    @media only screen and (max-width: 1400px) {
        width: 28rem;
    }

    @media only screen and (max-width: 1200px) {
        width: 22rem;
    }

    @media only screen and (max-width: 992px) {
        width: 18rem;
    }

    @media only screen and (max-width: 576px) {
        width: 100%;
    }
}