body {
    font-family: 'Inter', sans-serif;
    color: black;
}

h1 {
    font-weight: 700;
    font-size: 3.3rem;
}

h2 {
    font-weight: 600;
    font-size: 3rem;
}

h3 {
    font-weight: 700;
    font-size: 2rem;
}

h5 {
    font-weight: 700;
    font-size: 1.375rem;
    margin: 0;
}

h5 {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    margin: 0;
}

.btn {
    background: #A7CA37;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 0.65em 1.55em;
    border-radius: 4px;
    white-space: nowrap;

    &:hover {
        color: white;
        background: #7fa013;
    }
}

.form-control {
    border-radius: 6px;
}

.hiw__list {
    width: 30em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.hiw__number__outer {
    padding: 0.375em;
    border-radius: 0.375em;
    border: 1px solid black
}

.hiw__number__inner {
    color: white;
    width: 2.75em;
    height: 2.75em;
    background: black;
    border-radius: 0.375em
}

.hiw__samples {
    display: flex;
    padding: 2em 0;
    flex-grow: 1;
    justify-content: end;

    img {
        border-radius: 6px;
        ;
        object-fit: contain;
        height: 100%;
        width: auto;
    }
}

.p-img {
    padding: 0 0 0 8.275rem;
    

    @media only screen and (max-width: 1400px){
        padding: 0 0 0 4.275rem;
    }

    @media only screen and (max-width: 992px){
        padding: 0 0 0 2.5rem;
    }

    @media only screen and (max-width: 768px){
        padding: 0 2.5rem;
    }
}

.p-img-invert {
    padding: 6em 8.275rem 6em  0 ;
    

    @media only screen and (max-width: 1400px){
        padding: 6em 4.275rem 6em 0;
    }

    @media only screen and (max-width: 992px){
        padding: 6em 2.5rem 6em 0;
    }

    @media only screen and (max-width: 768px){
        padding: 6em 2.5rem;
    }
}

.p-header {
    padding: 1.4em 8.275rem;
    

    @media only screen and (max-width: 1400px){
        padding: 1.4em 4.275rem;
    }

    @media only screen and (max-width: 992px){
        padding: 1.2em 2.5rem;
    }

    @media only screen and (max-width: 768px){
        padding: 0.7em 2.5rem;
    }
}

.w-text {
    flex-shrink: 0;
    width: 30em;

    @media only screen and (max-width: 1400px){
        width: 24rem;
    }

    @media only screen and (max-width: 992px){
        width: 20rem;
    }

    @media only screen and (max-width: 576px){
        width: 100%;
    }
}

