/* * Prefixed by https://autoprefixer.github.io * PostCSS: v8.4.14, * Autoprefixer: v10.4.7 * Browsers: last 6 version */
body {
  margin: 0;
  color: black;
  font-family: "Inter", sans-serif;
  overflow-x: hidden !important;
  max-width: 100%;
}

html {
  overflow-x: hidden !important;
  max-width: 100%;
}

h1 {
  font-weight: 700;
  font-size: 3.3rem;
}

h2 {
  font-weight: 600;
  font-size: 2.5rem;
}

h3 {
  margin: 0 !important;
  font-weight: 700;
  font-size: 2rem;
}

h4 {
  margin: 0 !important;
  font-weight: 600;
  font-size: 1.375rem;
}

h5 {
  margin: 0;
  font-weight: 600;
  font-size: 1.125rem;
}

p {
  margin: 0;
  color: #212121;
  font-family: "Roboto", sans-serif;
}

p.__footer {
  color: #636262;
  font-size: 0.875em;
}

hr {
  margin: 0 !important;
}

.btn {
  border-radius: 4px;
  padding: 0.65em 1.85em;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
}

.container-xxl {
  max-width: 1920px !important;
  padding-left: 0;
  padding-right: 0;
}

._gap-1 > *:not(:last-child) {
    margin-right: 0.25rem; /* Adjust the margin value as needed */
}

._gap-2 > *:not(:last-child) {
    margin-right: 0.5rem; /* Adjust the margin value as needed */
}

._gap-3 > *{
    margin-right: 1rem;
}

._gap-4 > *:not(:last-child) {
    margin-bottom: 1.5rem; /* Adjust the margin value as needed */
}

._gap-5 > *:not(:last-child) {
    margin-bottom: 2rem; /* Adjust the margin value as needed */
}

.grn {
  background: #a7ca37;
  color: white;
}

.grn:hover {
  background: #7fa013;
  color: white;
}

.wht {
  background: white;
  color: black;
  border: solid 1px #9d9d9d;
}

.wht:hover {
  border: solid 1px #9d9d9d;
  color: black;
  background: #d1d1d1;
}

.ico {
  padding: 0;
  border: none;
}

.ico::before {
  content: url(images/icons/plus.png);
}

.ico.collapsed::before {
  content: url(images/icons/plus.png);
}

.ico.exp::before {
  content: url(images/icons/minus.png);
}

.col {
  padding: 0 !important;
}

.form-control {
  border-radius: 6px;
}

.navbar ._gap {
    margin-right: 3rem;
}

.nav-divider {
  border-color: black;
}

.hiw__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 0.5em;
  width: 30em;
}
@media screen and (max-width: 576px) {
  .hiw__list {
    width: 100%;
  }
}

.hiw__number__outer {
  border: 1px solid black;
  border-radius: 0.375em;
  padding: 0.375em;
  margin-right: 1.5rem;
}

.hiw__number__inner {
  background: black;
  border-radius: 0.375em;
  color: white;
  height: 2.75em;
  width: 2.75em;
}

.hiw__samples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  padding: 2em 0;
}

.hiw__samples img {
  border-radius: 6px;
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
@media screen and (max-width: 576px) {
  .hiw__samples {
    display: none;
  }
}

.nav-link {
  margin: 0;
  padding: 0.3em 0 !important;
  font-family: "Roboto", sans-serif;
}

.navbar-wrap {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navbar-wrap .inner {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 2.5rem;
  padding: 0 1.5rem 0 3rem;
}
@media screen and (max-width: 992px) {
  .navbar-wrap .inner {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    gap: 0.6rem;
    padding: 0 2rem;
  }
}

.p-reg-e {
  padding: 0 8.275rem;
}
@media screen and (max-width: 1400px) {
  .p-reg-e {
    padding: 0 4.275rem;
  }
}
@media screen and (max-width: 992px) {
  .p-reg-e {
    padding: 0 2.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

.p-reg-s {
  padding: 0 8.275rem;
}
@media screen and (max-width: 1400px) {
  .p-reg-s {
    padding: 0 4.275rem;
  }
}
@media screen and (max-width: 992px) {
  .p-reg-s {
    padding: 0 2.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.p-reg-c {
  padding: 0 8.275rem;
}
@media screen and (max-width: 1400px) {
  .p-reg-c {
    padding: 0 4.275rem;
  }
}
@media screen and (max-width: 992px) {
  .p-reg-c {
    padding: 0 2.5rem;
  }
}

.p-clpse {
  width: 60em;
}
@media screen and (max-width: 1400px) {
  .p-clpse {
    width: 54em;
  }
}
@media screen and (max-width: 992px) {
  .p-clpse {
    width: 50em;
  }
}
@media screen and (max-width: 768px) {
  .p-clpse {
    width: 100%;
  }
}

.p-img {
  padding-left: 8.275rem;
}
@media screen and (max-width: 1400px) {
  .p-img {
    padding-left: 4.275rem;
  }
}
@media screen and (max-width: 992px) {
  .p-img {
    padding-left: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .p-img {
    padding: 0 2.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

.p-img-invert {
  padding-right: 8.275rem;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}
@media screen and (max-width: 1400px) {
  .p-img-invert {
    padding-right: 4.275rem;
  }
}
@media screen and (max-width: 992px) {
  .p-img-invert {
    padding-right: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .p-img-invert {
    padding: 0 2.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.p-header {
  padding: 1.4em 8.275rem;
}
@media screen and (max-width: 1400px) {
  .p-header {
    padding: 1.4em 4.275rem;
  }
}
@media screen and (max-width: 992px) {
  .p-header {
    padding: 1.2em 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .p-header {
    padding: 0.7em 2.5rem;
  }
}

.w-text-sm {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 30em;
}
@media screen and (max-width: 1400px) {
  .w-text-sm {
    width: 24rem;
  }
}
@media screen and (max-width: 992px) {
  .w-text-sm {
    width: 20rem;
  }
}
@media screen and (max-width: 768px) {
  .w-text-sm {
    width: 100%;
  }
}

.w-text-lg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 38em;
}
@media screen and (max-width: 1400px) {
  .w-text-lg {
    width: 28rem;
  }
}
@media screen and (max-width: 1200px) {
  .w-text-lg {
    width: 22rem;
  }
}
@media screen and (max-width: 992px) {
  .w-text-lg {
    width: 18rem;
  }
  .w-text-lg.type-a {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
    .w-text-lg.type-b{
        width: 100%;
    }
}
@media screen and (max-width: 576px) {
  .w-text-lg {
    width: 100%;
  }
}

/*div id's*/

#democratize-reis {
    width: 24rem;
}
@media screen and (max-width: 768px){
    #democratize-reis {
        width: 100%;
    }
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
@media screen and (max-width: 576px) {
  #footer {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }

  #footer > *:not(:last-child) {
    margin-bottom: 2rem; /* Adjust the margin value as needed */
    }
}
#footer .link-col > *:not(:last-child) {
    margin-bottom: 1.5rem; /* Adjust the margin value as needed */
}
@media screen and (max-width: 576px) {
  #footer .link-col > *:not(:last-child) {
        margin-bottom: 0.5rem; /* Adjust the margin value as needed */
    }
}
@media screen and (max-width: 576px) {
  #hero .email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

#how-it-works ._gap {
    margin-right: 1.5rem;
}

#portfolio {
  height: 350px;
  width: auto;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 576px) {
  #portfolio {
    > :first-child {
        margin-left: 2rem !important;
       }
    > :last-child {
        margin-right: 2rem !important;
    }
    
    margin-bottom: 0 !important;
    width: 100%;
  }
}

#portfolio .card {
  display: inline-block;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 3rem;
  border-radius: 0.5em;
  width: 270px;
  height: 300px;
  overflow: hidden;
}
@media screen and (max-width:576px){
    #portfolio .card {
        margin: 0 0.5rem;
    }
}
#portfolio .card p {
  color: white !important;
}
#portfolio .card .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-color: white;
  height: 6px;
  border-radius: 4px;
}
#portfolio .card .bar .percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #a7ca37;
  border-radius: inherit;
}
#portfolio .card .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: auto;
  overflow: hidden;
  -webkit-transition: 120ms;
  -o-transition: 120ms;
  transition: 120ms;
  -webkit-transition-timing-function: ease-in-and-out;
  -o-transition-timing-function: ease-in-and-out;
  transition-timing-function: ease-in-and-out;
}
#portfolio .card .wrapper:hover {
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition: 225ms;
  -o-transition: 225ms;
  transition: 225ms;
  scale: 110%;
}
#portfolio .card .wrapper::after {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background: -o-linear-gradient(top, transparent 0%, black 120%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(120%, black)
  );
  background: linear-gradient(to bottom, transparent 0%, black 120%);
  width: 100%;
  height: 100%;
  content: "";
}

#portfolio .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

#portfolio .card .chip {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 6px;
  background-color: white;
  padding: 0.33em 0.8em;
  font-weight: 500;
  font-size: 0.75em;
}

#portfolio .card .chip::before {
  content: "New";
}

#sbab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: 1px solid #b2b2b2;
    border-radius: 0.75em;
    background-color: #f1f1f1;
    padding: 5rem 4rem;
  }
  @media screen and (max-width: 576px) {
  #sbab {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 2.5rem 2rem;
    }
  
      #sbab  > *:not(:last-child) {
          margin-bottom: 2rem; /* Adjust the margin value as needed */
      }
  }
  @media screen and (max-width: 576px) {
    #sbab .email {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }

#secondary-mkt .img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media screen and (max-width: 576px) {
  #secondary-mkt .img-wrap {
    display: none;
  }
}
#why-re .desc {
  width: 50em;
}
@media screen and (max-width: 768px) {
  #why-re .desc {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  #why-re .header img {
    scale: 0.7;
    margin: 0 -0.3rem;
    padding: 0 !important;
  }
}
#why-re .row {
  padding: 1rem 0 !important;
}
@media screen and (max-width: 576px) {
  #why-re .row p {
    font-size: 0.8em;
  }
}
